body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.card img {
    width: 100px;
    height: 100px;
}

.card h2 {
    margin: 0;
    padding: 10px 0;
    text-transform: capitalize;
}

.card p {
    margin: 5px 0;
}

.card .descripcion {
    margin: 10px 0;
}

.card .tipo {
    margin: 10px 0;
}

.card .tipo span {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.card .tipo .planta {
    background-color: #78C850;
}

.card .tipo .veneno {
    background-color: #A040A0;
}

.card .tipo .fuego {
    background-color: #F08030;
}

.card .tipo .agua {
    background-color: #6890F0;
}

.card .tipo .electrico {
    background-color: #F8D030;
}

.card .tipo .hada {
    background-color: #EE99AC;
}

.card .tipo .normal {
    background-color: #A8A878;
}

.card .tipo .fantasma {
    background-color: #705898;
}

.card .tipo .lucha {
    background-color: #C03028;
}

.card .tipo .acero {
    background-color: #B8B8D0;
}

.card .tipo .dragon {
    background-color: #7038F8;
}

.card .tipo .tierra {
    background-color: #E0C068;
}

.card .tipo .siniestro {
    background-color: #705848;
}

.error-message {
    border: 1px solid #ff6b6b;
    background-color: #ffe6e6;
    color: #ff6b6b;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(255, 107, 107, 0.1);
}

.pokemonId {
    color:#76768c
}

/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.navContainer {
    position: fixed;
    width: 100%;
    top:0px;
    right: 0px;    
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buscador {
 height: 20px;
}

.icon-button {
	color: #FFFFFF;
	font-size: 18px;
	border-radius: 50px;
	border: solid 3px #a3383f;
	text-shadow: 1px 1px 0px #528ECC;
	box-shadow: inset 1px 1px 0px 0px #BBDAF7;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-family: Arial;
	background: linear-gradient(180deg, #ee6381 10%, #cf466a 100%);
	display: inline-flex;
	align-items: center;
	padding: 0;
    margin-left: 10px;
}
.icon-button:hover {
	background: linear-gradient(180deg, #cf466a 10%, #ee6381 100%);
}
.icon-button-text {
	position: relative;
	padding: 9px 1px;
}
.icon-button-icon {
	position: relative;
	padding: 4px 6px;
}
